torch>=1.10.0
pydub>=0.25.1
numpy>=1.26.0
librosa>=0.10.1
colorama>=0.4.6
pyperclip>=1.8.2
streamlit>=1.27.0
soundfile>=0.12.1
sounddevice>=0.4.6
noisereduce>=2.0.1
transformers>=4.34.0
SpeechRecognition>=3.10.0
